.folderBtn {
    background-color: #edf2fc;
    padding: 12px 16px;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    text-decoration: none;
    width: 19.2%;
    align-items: center;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    margin-top: 15px;
}

.folderBtn:hover {
    background-color: #c2e7ff;
    transition: 0.3s;
    color: #000;
}

.icon {
    color: #1a1a1a;
}

.folderName {
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    flex: 1;
    user-select: none;
}

.moreBtn {
    cursor: pointer;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.moreBtn:hover {
    background-color: #c9c9c9;
    transition: 0.3s;
}
