.header {
    box-shadow: 3px 3px 8px -3px #ddd;
    height: 60px;
    display: flex;
    width: 100vw;
}


.logo_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    padding: 12px
}

.logo_container > img {
    height: 100%;
    object-fit: contain;
}

.logo_container >span {
    font-size: 20px;
    color: #444746;
    font-weight: 500;
    margin-left: 16px;
}

.searchBarContainer {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
}

.searchBar {
    background-color: #edf2fc;
    width: 45%;
    min-width: 20%;
    border-radius: 24px;
    padding: 0 8px;
    height: 120%;
    align-items: center;
    display: flex;
}

.icon {
    color: #5f6368;
}

.searchBar input {
    margin-left: 10px;
    flex: 1;
    color: #5f6368;
    background: none;
    border: none;
}

.searchBar input:focus{
    outline: none;
    color: black;
}

.avatarContainer {
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-shadow: 5px 3px 15px 0px #ddd;
    border-radius: 16px;
    margin: 7px;
    cursor: pointer;
}

.avatarContainer:hover {
    box-shadow: 5px 10px 15px 0px #ddd;
    transition: 0.3s;
}

.avatarContainer img {
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.avatarContainer span {
    font-weight: 500;
}

.dropdown_menu {
    position: absolute;
    top: 70px;
    right: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 380px;
    height: 32%;
    align-items: center;
    border-radius: 24px;
    padding: 20px;
    background-color: #edf2fc;
    text-align: center;
}

.dropdown_menu.inactive {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    transform: translateY(-20px);
}

.dropdown_menu.active {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    transform: translateY(0);
}

.user_in4_container {
    text-align: center;
}

.user_in4_container h6 {
    margin-bottom: 5%;
}

.user_in4_container img {
    width: 40%;
    object-fit: contain;
}

.dropdown_menu h5 {
    margin-top: 10px;
}

.btn_zone {
    margin: 5% 5% 0 5%;
    background-color: #fff;
    padding: 5px 0;
    border-radius: 16px;
    box-shadow: 3px 3px 8px -3px #ddd;
    cursor: pointer;
}

.btn_zone:hover {
    box-shadow: 5px 10px 15px 0px #ddd;
    transition: 0.2s;
}

.btn_zone span {
    margin-left: 10px;
    font-weight: 500;
}